services:
  

  north_south_pg_container:
    image: postgres:17
    container_name: north_south_pg_container
    restart: always
    environment:
      POSTGRES_DB: bd_north_south
      POSTGRES_USER: user_north_south
      POSTGRES_PASSWORD: 2ugYRUJHGfh3
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports: 
      - 5434:5432
    networks:
      - north_south_network

  redis_container:
    image: redis:latest
    container_name: redis_container
    ports:
      - 6381:6379
    restart: always
    volumes:
      - redisdata:/data  
    networks:
      - north_south_network

networks:
  north_south_network:
    driver: bridge

volumes:
  pgdata:
  redisdata: