.row .navIndex {
  height: 98px;
  background-color: #5e72e4;
  /*border: 3px solid rgb(190, 13, 128);*/
  width: 100%;
}

.dasboard {
  height: 89vh;
  /*border: 1px solid red;*/
}

textarea {
  field-sizing: content;
}

.card{
  height: 15rem;
  width: auto;
}
.card.transition:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  scale: 1.01;
}

.col-10 {
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 82%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container-fluid .row .col-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  /*border: 2px solid rgb(60, 203, 20);*/
}

/*barra lateral izquierda*/
.lateral {
  background-color: #172b4d;
}

.dropdown-item:hover {
  background-color: #172b4d !important;
}

.active {
  background-color: #172b4d !important;
}

.btnDas {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(60, 203, 20);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dropdown-toggle {
  background-color: rgb(60, 203, 20);
  width: 100%;

}