h1,
h2,
h3,
th {
    font-family: 'Roboto', sans-serif;
    /* Peso 700 para negrita */
}

input,
button,
p,
span {
    font-family: 'Nunito', sans-serif;
}


body.modal-open {
    overflow: hidden;
}

/*Estilos para modal*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .modal {
        border-radius: 8px;

        .modal-content {
            max-width: 79%;
            min-height: 35%;

            .conten-title {
                background-color: #5e72e4 !important;
                height: 5.8rem;
                -webkit-border-radius: 8px 8px 0 0;
                -moz-border-radius: 8px 8px 0 0;
                -ms-border-radius: 8px 8px 0 0;
                -o-border-radius: 8px 8px 0 0;
            }

            .conten-title-com {
                padding: 1rem;
                background-color: #5e72e4 !important;
                height: 4rem;
                -webkit-border-radius: 8px 8px 0 0;
                -moz-border-radius: 8px 8px 0 0;
                -ms-border-radius: 8px 8px 0 0;
                -o-border-radius: 8px 8px 0 0;
            }

            .bg-balance-color {
                background-color: #adb5bd;
            }



            .btn:hover {
                background-color: var(--secondary);
            }

            #btnc {
                background-color: red;
            }

            #btnc :hover {
                background-color: red !important;
            }
        }

        .modal-content-renewal {
            max-width: 70% !important;
        }
    }
}

.stickyFooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    background: transparent;
    pointer-events: auto;
}

.relativeContainer {
    position: relative;
    min-height: 87vh;
    /* Ajusta según tu diseño */
}